#raceAttributes {
    width: auto;
    padding-top: 2em;
}

.attributeColumns {
    width: auto;
    float: left;
    width: 33%;
    height: 100%;
}

.resultColumns {
    width: auto;
    float: left;
    width: 33%;
    height: 100%;
}

.headerColumns {
    width: auto;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
}

#container {
    margin: auto;
    width: 48%;
    padding: 2%;
    background-color: lightblue;
    border-radius: 1em;
}

.row {
    height: 2em;
    width: 100%;
}

#resultRow {
    font-weight: bold;
    font-style: italic;
    height: 4em;
}

#headerRow {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

#infoText {
    text-align: center;
}